<div id="table-two">
		<h3>Job Log for <%=@boat.name%></h3>
	<table>
		<thead>
		<tr>
			<th>Job Name</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Shipment Value</th>
			<th>Note</th>
		</tr>
	</thead>
	<tbody>
		<% @jobs.each do |job| %>
		<tr>
			<td><%=job.name%></td>
			<td><%=job.cost%></td>	
			<%end%>
	</tr>
	</tbody>
</table>
</div>


<%# @jobs.each do |job| %>
<!-- <tr> -->
	<!-- <td><%#=job.name%></td> -->
	<!-- <td><%#=job.cost%></td> -->



	