<!-- <div class="signup_btn">
	<p><%#= link_to 'Sign Up', new_user_path%><p>
</div>

<div class="body_image">
	<img src="/assets/octopus_green.jpg">
</div> -->



<!-- <div class="navbar">
	<ul>
		<li>x</li>
		<li>yy</li>
		<li>zzz</li>
	</ul>
</div> -->

<!-- <div class="footer">
		<ul>
			<li>a</li>
			<li>bb</li>
			<li>ccc</li>
		</ul>
	</div> -->